/* Responsive Box padding */
.box-padding {
    padding: 0 2%;
  }
  
  @media (min-width: 900px) {
    .box-padding {
      padding: 0 5%;
    }
  }
  
  /* Styles for the main image */
  .pilet-photo {
    width: 100%;
    max-width: 100%;
    mix-blend-mode: luminosity;
  }
  