  /* Card Styles */
  .card {
    overflow: hidden;
    background-color: aliceblue;
  }
  
  .card img {
    width: 100%;
    padding: 2%;
    height: auto;
  }
  
  .card-body {
    padding: 5%;
  }
  
  .card-title {
    margin-bottom: 1rem;
    color: #000;
  }
  
  .card-text {
    margin-bottom: 2.5rem;
    color: #000;
  }

  .text {
    margin-bottom: 1rem;
  }