:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    /* color palette */
    --background-dark: #041326;
    --background-dark-98: rgba(4, 19, 38, 0.98);
    --background-dark-90: rgba(4, 19, 38, 0.8);
    --background-light: #ffffff;
    --text-light: #ffffff;
    --text-dark: #041326;
    --submit-green: #4caf50;

    /* the following should be renamed semantically when purpose of color is defined */
    --light-grey: #b3b9bd;
    --mid-grey: #98a1a6;
    --mid-blue: #0c2840;
    --font-sans: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@media only screen and (min-width: 1024px) {
    .container header .header-nav-area #nav_container {
        display: flex;
    }
}

body {
    font-family: var(--font-sans);
    background: var(--background-dark);
}

a {
    color: var(--text-light); /* Set the link color to white */
    text-decoration: none;
}
a:hover {
    color: var(--light-grey); /* Set the link hover color to white */
}

p {
    color: var(--text-light); /* Set the link color to white */
    text-decoration: none;
    font-size: small;
}

p > .text-dark {
    color: var(--text-dark);
}

button {
    background-color: var(--background-dark);
    border: none;
    border-radius: 10px;
    color: var(--text-light);
}

.AppHeader {
    background-color: var(--background-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: var(--text-light);
}

.App-link {
    color: var(--text-light);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.registration-form {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.submit-button {
    padding: 15px;
    width: 100%;
    background-color: var(--submit-green);
    color: var(--text-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: var(--submit-green);
}

.alert-message {
    margin-top: 20px;
}

/* Default styles */
h1 {
    font-size: 2rem; /* Default font size for h1 */
    line-height: 1.2; /* Adjust line height for better readability */
}

h2 {
    font-size: 1.75rem; /* Default font size for h2 */
    line-height: 1.3; /* Adjust line height for better readability */
}

h3 {
    font-size: 1.5rem; /* Default font size for h3 */
    line-height: 1.4; /* Adjust line height for better readability */
}

h4 {
    font-size: 1.25rem; /* Default font size for h4 */
    line-height: 1.5; /* Adjust line height for better readability */
}

h5 {
    font-size: 1.1rem; /* Default font size for h5 */
    line-height: 1.6; /* Adjust line height for better readability */
}

h6 {
    font-size: 1rem; /* Default font size for h6 */
    line-height: 1.7; /* Adjust line height for better readability */
}

p {
    font-size: 1rem; /* Default font size for paragraph */
    line-height: 1.6; /* Adjust line height for better readability */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1.125rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.75rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.75rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3.25rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.25rem;
    }

    h5 {
        font-size: 2rem;
    }

    h6 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.375rem;
    }
}
