/* reset all elements default padding and margin to zero */
* {
    margin: 0;
    padding: 0;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    /* color palette */
    --background-dark: #041326;
    --background-dark-75: rgba(4, 19, 38, 0.75); /* bg-dark with 85% opacity */
    --background-light: #ffffff;
    --text-light: #ffffff;
    --text-dark: #041326;
    /* the following should be renamed semantically when purpose of color is defined */
    --light-grey: #b3b9bd;
    --mid-grey: #98a1a6;
    --mid-blue: #0c2840;

    /* font sizes - mobile */
    .fs-medium {
        font-size: 2rem;
    }
    .text-large {
        font-size: 3rem;
    }
    .underline-link {
        text-decoration: underline;
    }

    .text-link.text-dark:hover {
        /* if text is dark and is linnk */
        color: var(--text-dark);
    }
}

/* ------ FONT STYLES ------ */
body {
    font-family: "Inter", sans-serif;
    background: var(--background-dark);
    color: var(--text-light);
}

p,
.link-text {
    font-size: 1.125rem;
}
s .text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

p > .text-large {
    font-size: 1.7rem;
}
.copyright {
    font-size: 1.4rem;
    color: var(--mid-grey);
}

.uppercase {
    text-transform: uppercase;
}

/* ------ BUTTON STYLES ------ */
.btn-primary {
    font-weight: 800; /* extra bold */
    /* border: 1px solid var(--text-light); */
    border-radius: 2px;
    background-color: var(--background-dark-75);
}
.btn-secondary {
    padding: 15px;
    border-radius: 2px;
    background-color: var(--light-grey);
    width: fit-content;
}
.btn-tertiary {
    padding: 15px;
    border: 1px solid var(--mid-grey);
    border-radius: 2px;
    background-color: var(--background-dark);
    width: fit-content;
}

/* ======== Spacing ======== */

.pt-1 {
    padding-top: 0.05rem;
}

.pt-5 {
    padding-top: 1.5rem;
}
.pb-1 {
    padding-bottom: 0.05rem;
}

.pl-1 {
    padding-left: 0.1rem;
}
.pl-2 {
    padding-left: 0.3rem;
}
.pl-3 {
    padding-left: 1rem;
}
.pl-4 {
    padding-left: 1.5rem;
}
.pl-5 {
    padding-left: 2.5rem;
}

.pr-1 {
    padding-right: 0.1rem;
}
.pr-2 {
    padding-right: 0.3rem;
}
.pr-3 {
    padding-right: 1rem;
}
.pr-4 {
    padding-right: 1.5rem;
}
.pr-5 {
    padding-right: 2.5rem;
}

/* py: padding on the y-axis  
    -  use to give padding inside of an element/container */
.py-1 {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}
.py-2 {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}
.py-3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.py-huge {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* px: padding on x-axis (left and right)
    -  use to give padding inside of an element/container*/
.px-1 {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
.px-2 {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.px-5 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2.5rem;
}
.mb-3 {
    margin-bottom: 5rem;
}
.mb-4 {
    margin-bottom: 7.5rem;
}
.mb-5 {
    margin-bottom: 10rem;
}

.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2.5rem;
}
.mt-3 {
    margin-top: 5rem;
}
.mt-4 {
    margin-top: 7.5rem;
}
.mt-5 {
    margin-top: 10rem;
}

/* margins on y-axis (top and btm)
    - use to seperate sections and containers within a section*/
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2.5rem 0;
}
.my-3 {
    margin: 5rem 0;
}
.my-4 {
    margin: 7.5rem 0;
}
.my-5 {
    margin: 10rem 0;
}

/* margins on x-axis (left and right)
    - use to seperate sections and containers within a section*/
.mx-1 {
    margin: 0 1rem;
}
.mx-2 {
    margin: 0 2.5rem;
}
.mx-3 {
    margin: 0 5rem;
}
.mx-4 {
    margin: 0 7.5rem;
}
.mx-5 {
    margin: 0 10rem;
}

/* ========= FLEX CLASSES ========= */
.flex-container {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.align-center {
    align-content: center;
}
.align-vertical-middle {
    align-items: center;
}
.align-vertical-btm {
    align-items: end;
}
.space-between {
    align-content: space-between;
}

.bg-light {
    background-color: var(--background-light);
}

.text-dark {
    color: var(--text-dark);
}

/* ------- CUSTOM ELEMENT STYLES ------ */

/* ------------- END CUSTOM ELEMENT STYLES ------------- */

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@media only screen and (min-width: 1024px) {
    .container header .header-nav-area #nav_container,
    .custom-form-container {
        width: 95%; /* Set width to 95 of viewport% */
        margin: 0 auto; /* Center the form */
        margin-top: 6rem;
    }

    /* Target the actual injected form */
    .custom-form-container form {
        width: 100%; /* Make sure the form inside takes the full width of the container */
    }
}

.custom-form-container {
    width: 100%; /* Set width to fill viewport width on mobile */
    margin: 0 auto; /* Center the form */
    margin-top: 3rem;
}

header {
    background-color: none;
}

/* ------  ------ */
.AppHeader {
    background-color: var(--background-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a {
    color: var(--text-light); /* Set the link color to white */
}
a:hover {
    color: var(--text-light); /* Set the link hover color to white */
}

/* ------ FORM STYLES ------ */
.form {
    padding: 20px;
}

.form-body {
    text-align: left;
    padding: 20px 10px;
}

.form-body > * {
    padding: 5px;
}

.form__label {
    width: 40%;
}

.form_input {
    width: 60%;
}

.form__label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.submit-button {
    padding: 15px;
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

.alert-message {
    margin-top: 20px;
}

.registration-form {
    max-width: 95%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ------ END OF FROM STYLES  ------ */

.event-container {
    padding: 2% 5%;
}

.event-title {
    text-align: center;
}

.timeline {
    margin-top: 20px;
}

.timeline-item {
    position: relative;
    padding: 10%;
    border-left: 2px solid #98a1a6;
    margin-bottom: 20px;
}

.timeline-date {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #041326;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.timeline-content {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .event-container {
        padding: 2% 3%;
    }

    .timeline-date {
        left: 0;
        top: 0;
        transform: none;
        margin-bottom: 10px;
    }

    .timeline-content {
        margin-left: 0;
    }
}

/* Default styles */
h1 {
    font-size: 2rem; /* Default font size for h1 */
    line-height: 1.2; /* Adjust line height for better readability */
}

h2 {
    font-size: 1.75rem; /* Default font size for h2 */
    line-height: 1.3; /* Adjust line height for better readability */
}

h3 {
    font-size: 1.5rem; /* Default font size for h3 */
    line-height: 1.4; /* Adjust line height for better readability */
}

h4 {
    font-size: 1.25rem; /* Default font size for h4 */
    line-height: 1.5; /* Adjust line height for better readability */
}

h5 {
    font-size: 1.1rem; /* Default font size for h5 */
    line-height: 1.6; /* Adjust line height for better readability */
}

h6 {
    font-size: 1rem; /* Default font size for h6 */
    line-height: 1.7; /* Adjust line height for better readability */
}

p,
.link-text {
    font-size: 1rem; /* Default font size for paragraph */
    line-height: 1.6; /* Adjust line height for better readability */
}
.underline-text {
    text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.25rem;
    }

    p,
    .link-text {
        font-size: 1.125rem;
    }
    .underline-text {
        text-decoration: underline;
    }
    .custom-form-container {
        width: 100%; /* Set width to 50% */
        margin: 0 auto; /* Center the form */
        margin-top: 5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.75rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.75rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    p,
    .link-text {
        font-size: 1.25rem;
    }
    .underline-text {
        text-decoration: underline;
    }
    .custom-form-container {
        width: 85%; /* Set width to 50% */
        margin: 0 auto; /* Center the form */
        margin-top: 5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3.25rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.25rem;
    }

    h5 {
        font-size: 2rem;
    }

    h6 {
        font-size: 1.75rem;
    }

    p,
    .link-text {
        font-size: 1.375rem;
    }
    .underline-text {
        text-decoration: underline;
    }
    .custom-form-container {
        width: 95%;
        margin: 0 auto;
        margin-top: 6rem;
    }
}
