:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0; /* Set the RGB value for black */
  --background-end-rgb: 0, 0, 0; /* Set the RGB value for black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0; /* Set the RGB value for black */
    --background-end-rgb: 0, 0, 0; /* Set the RGB value for black */
  }
}

@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Set the background color to black */
  font-family: 'Inter', sans-serif; /* Set the font-family to Inter and fallback to sans-serif */
}

a {
  color: #ffffff; /* Set the link color to white */
}
a:hover {
  color: #ffffff; /* Set the link hover color to white */
}